.page {
  max-width: 882px;
  margin: 0 auto;
  background-color: #000000;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  padding-left: 18px;
    padding-right: 18px;
    -webkit-text-size-adjust: 100%;
text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}


@media screen and (max-width: 768px) {
  .page {
    padding: 0;
  }
  
}