.header__logo {
  margin: 0 0 40px;
  width: 142px;
  height: 33px;
  display: block;
  transition: opacity .3s linear;
}

@media (max-width: 768px) {
  .header__logo {
    margin: 0 0 36px 27px;
    width: 104px;
    height: 24px;
  }
}

.header__logo:hover {
opacity: .5;
}