.popup__form {
  max-width: calc(100% - 72px);
  padding: 0;
  margin: 0 auto;
  border: none;
  display: flex;
  flex-direction: column;
  z-index: 3;
}


@media screen and (max-width: 475px) {
  .popup__form {
    max-width: 238px;
  }
}