.profile__add-picture {
  margin: 0;
  padding: 0;
  background: url('../../../images/buttons/add-button.svg');
  min-width: 150px;
  max-width: 150px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  margin-top: 33px;
  transition: opacity .4s ease-in;
}

.profile__add-picture:hover {
  cursor: pointer;
  opacity: .6;
}


@media screen and (max-width: 768px) {
  .profile__add-picture {
    margin-top: 32px;
    width: 100%;
    max-width: 282px;
  }

}