.profile__add-picture {
  margin: 0;
  padding: 0;
  background: url('../../../images/buttons/refresh.svg');
  min-width: 150px;
  max-width: 150px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  margin-top: 33px;
  transition: opacity .4s ease-in;
}

.profile__add-picture:hover {
  cursor: pointer;
  opacity: .6;
}


@media screen and (max-width: 768px) {
  .profile__add-picture {
    margin-top: 32px;
    width: 100%;
    max-width: 282px;
  }

}
[data-tooltip] {
  position: relative; /* Относительное позиционирование */ 
 }
 [data-tooltip]::after {
content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 135px; /* Ширина подсказки */
    left: -2px; top: 0; /* Положение подсказки */
    background: #f2ea48; /* Синий цвет фона */
    color: rgb(0, 0, 0); /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
 }
   [data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 3em; /* Положение подсказки */
   
   }