.card__info-name {
  margin: 0;
  padding: 0;
  /* padding-right: 20px; */
  max-width: 90%;
  /* text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; */
  font-size: 21px;
  line-height: 1.2;
  font-weight: 900;
}