.profile__info-edit {
  width: 24px;
  height: 24px;
  background: url('../../../images/buttons/edit-button.svg');
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  margin: 19px 0 0 19px;
  padding: 0;
  border: 1px solid #fff;
  box-sizing: border-box;
  transition: opacity .4s ease-in;
}

.profile__info-edit:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .profile__info-edit {
    width: 18px;
    height: 18px;
    margin: 10px 0 0 10px;
  }

}