.card {
  min-height: 375px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  transition: transform .3s linear;
}

.card_inactive {
  pointer-events: none;
  opacity: 0.5;
  background-color: #CCC;
  border-radius: 10px 10px 10px 10px;
}

.card:hover {
  transform: translate(0,-10px);
  transform: scale(1.05,1.05);
}

.rasev__link {
  text-decoration: none;
}